@media all and (max-width: 800px) {
  #toolbar, #admin-menu {
    display: none; }

  html body.toolbar, html body.admin-menu {
    padding-top: 0 !important;
    margin-top: 0 !important; } }

.view-cod-community-attendees table tr {background-color:#fff !important; border-bottom:1px solid #000;}
.view-cod-community-attendees table td {text-align:center;vertical-align:top;width:25% !important;}
.view-cod-community-attendees .views-field-field-profile-job-title, 
.view-cod-community-attendees .views-field-field-profile-org-1 {font-size:90%;line-height: 1.1em;}
.view-cod-community-attendees h5 {margin: 0.2em 0;color:#017edf;}

.block .view-cod-sponsors td {width:50%; text-align:center;}
.block--views-cod-sponsors-block-1 {margin-top:20px;border-top:1px solid #000;}

.view-cod-sponsors {text-align: center;}
.view-cod-sponsors .views-row {}
.view-cod-sponsors .views-row.sponsor-group {display:inline-block;margin: 0 20px;vertical-align:middle; }
.view-cod-sponsors h2 {color:#017edf; border-bottom: 1px solid #000;padding-bottom: 10px; text-align: left;}