@media all and (max-width: 800px) {

  #toolbar, #admin-menu {
    display: none; }

  html body.toolbar, html body.admin-menu {

    padding-top: 0 !important;
    margin-top: 0 !important; } }
    @media all and (max-width: 800px) {
  .page-node-5 #block-block-47 {float: left;}
  .page-node-5 #block-block-47 .block-content{float: left;}
  .page-node-5 #block-block-47 .hpkeynote{clear: both;margin-top:20px;float: left;}
  .page-node-5 .intro-right{display: none;}
    }
.page-node-5 .l-content {float: left;}
.view-cod-community-attendees table tr {background-color:#fff !important; border-bottom:1px solid #000;}
.view-cod-community-attendees table td {text-align:center;vertical-align:top;width:25% !important;}
.view-cod-community-attendees .views-field-field-profile-job-title,
.view-cod-community-attendees .views-field-field-profile-org-1 {font-size:90%;line-height: 1.1em;}
.view-cod-community-attendees h5 {margin: 0.2em 0;color:#017edf;}

.block .view-cod-sponsors td {width:32%; text-align:center;}
.block--views-cod-sponsors-block-1 {margin-top:20px;border-top:1px solid #000;}

.view-cod-sponsors {text-align: center;}
.view-cod-sponsors .views-row {}
.view-cod-sponsors .views-row.sponsor-group {display:inline-block;margin: 0 20px;vertical-align:middle; }
.view-cod-sponsors h2 {color:#017edf; border-bottom: 1px solid #000;padding-bottom: 10px; text-align: left;}

.block--block-46 {margin-top: -58px; text-align: center;}

/* hp keynote block */
@media (max-width: 600px) {
    .page-node-5 .hpkeynote, .hpkeynote {width:99%;}
    body.front .view-cod-sponsors .view-content td {width:100%;}
    body.front .view-cod-sponsors img {width:95px; height:auto;}
  .page-node-5 .left{ float: left; width: 99%}
  .page-node-5 .right{float: left;}
    .page-node-5 .intro-left{ float: left; width: 100%; margin-bottom: 20px;}
    .page-node-5 .keynote-images{display: none;}
}

@media (min-width: 768px) {
  .page-node-5 .left{ float: left; width: 49%;}
  .page-node-5 .right{float: left; width: 49%;}
  .page-node-5 .intro-left{ float: left; width: 27%; margin-bottom: 20px;}
  .page-node-5 .intro-right{float: left; width: 72%; margin-bottom: 20px;}
  .page-node-5 h2{clear:both; }

  .hpkeynote {width:49%; display:inline-block; padding: 0 24px;vertical-align: text-top;}
  .dots {border-right: 1px dotted #017edf;}
}

/* overrides */
.block--featured {width: 100% !important;}

body.page-node-286 ul li {list-style: none; list-style-image: none;}

/* hp form tickets */
.ticket-field-formatter-view-form {background:#b0dafb;padding:10px 20px 50px 20px;}

.ticket-field-formatter-view-form .ticket-type-ticket-type,
.ticket-field-formatter-view-form .form-item-ticket-quantity-6,
.ticket-field-formatter-view-form .ticket-type-ticket-type,
.ticket-field-formatter-view-form .form-item-ticket-quantity-11 {background:#f5f5f5;margin-top:10px;padding:5px;}

.ticket-field-formatter-view-form .ticket-type-ticket-type {width:66%;display:inline-block;min-height:140px;height:140px;}
.ticket-field-formatter-view-form .form-item-ticket-quantity-6 {width:34%;float:right;min-height:120px;height:120px;}

.ticket-field-formatter-view-form .ticket-type-ticket-type {width:66%;display:inline-block;min-height:140px;height:140px;}
.ticket-field-formatter-view-form .form-item-ticket-quantity-11 {width:34%;float:right;min-height:120px;height:120px;}

.ticket-field-formatter-view-form .form-submit,
.redbutton {
  background: none repeat scroll 0 0 #ff0000;
  border: medium none;
  color: #fff;
  float: right;
  padding: 5px 15px;
  text-transform: uppercase;
  clear:both;
}

.redbutton {
  background: none repeat scroll 0 0 #ff0000;
  border: medium none;
  color: #fff;
  padding: 5px 15px;
  text-transform: uppercase;
  clear:both;
}

.redbutton a {
  color: #fff;
}

.ticket-field-formatter-view-form .field--name-ticket-type-label {font-weight:bold;}

  .page-node-5 .keynote-images{
    width: 50%;
margin: 20px auto 0;
  }

  .page-node-5 .block--cta--1,
  .page-node-5 .block--cta--2,
  .page-node-5 .block-cta--3{
    display: none;
  }
  .page-node-5 .buybutton{
    clear: both;
    text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;
    border: 1px solid #494747;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto;
    float: left;
    background-color: #FCB941;
    width: 33%;
    line-height: 0.9em;
    display: block;
    font-family: 'Lobster Two';
    font-style: italic;
    font-weight: 700;
    margin: 0;
    color: #fff;
    padding: 20px;
    font-size: 2.8em;
  }

