body {
  color: $dk-gray;
  font-size: 18px;
  line-height: 1.4em;
  font-family: "PT Sans", sans-serif;
}


h1, h2, h3, h4, h5, h6, a.site-branding__name, .field--name-field-dates { font-family: 'Lobster Two'; font-style: italic; font-weight: 700; }

h1 {
  font-size: 50px;
  line-height: 1em;
  margin: 10px 0 25px;
  @include breakpoint($tablet-up) {
    margin: 10px 0 40px;
  }
}

h2 {
  font-size: 35px;
}

.front {
  .l-region--footer {
    h2 {
      font-size: 2.25em;
      font-weight: normal;
      line-height: 1.8em;
      margin: 0;
      text-align: center;
    }
  }
}

.l-region--sidebar {
  .block{
    h2 {
      font-size: 0.9em;
      margin-top: 0;
      text-transform: uppercase;
    }
  }
}

p.button {
  @extend %button;
  text-align: center;
  max-width: 180px;
}








